/* set colors*/
:root {
  --background:  	#E8E8E8;
  --box_1: #FFFFFF;
  --box_2: #fdf2dd;
  --text: #333333;
  --aqua: #7fffd4;
}

body{
    background-color: var(--box_1);
}
.info_box  {
  min-height: 33vh;
  margin-top: 1.0416666666666667vw;
  margin-bottom: 1.0416666666666667vw;
  margin-right:15%;
  margin-left:15%;
  padding: 3vw;
  color: var(--text);
  position: relative;
}

.box_1 {
  background-color: var(--box_1);
}
.box_2 {
  background-color: var(--box_2);
}

tr td{
  padding: 0 !important;
  margin-left: 0 !important;
  margin-top: 1.0416666666666667vw !important;
}

.table {
  border-bottom: 0vw !important;
}
.table th, .table td {
  border: 0.052083333333333336vw !important;
}
.fixed-table-container {
  border:0vw !important;
}

.font_title{
  margin-top: 1.4583333333333333vw;
  margin-bottom: 1.4583333333333333vw;
  font-family: 'Roboto Slab', serif;
  font-size: 7vw;
}

.font_header{
  margin-top: 1.0416666666666667vw;
  font-family: 'Muli', sans-serif;
  font-size: 2.5vw;
}

.font_subheader{
  margin-top: 0.78125vw;
  font-family: 'Muli', sans-serif;
  font-size: 1.5vw;
}

.font_concentration{
  font-size: 1.4vw;
  margin-top: 0.78125vw;
}

.font_text_header{
  margin-top: 1vw;
  margin-left: 2vw;
  margin-right: 0vw;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 2.5vw;
  color: #9370DB;
}

.font_text_subheader{
  margin-top: 1vw;
  margin-left: 2vw;
  margin-right: 0vw;
  font-family: 'Muli', sans-serif;
  font-size: 1.5625vw;
}

.font_text{
  margin-top: 1vw;
  margin-left: 0vw;
  margin-right: 1vw;
  font-family: 'Habibi', serif;
  font-size: 1.3541666666666667vw;
}



.title_box{
  margin-top: 1.0416666666666667vw;
  margin-bottom: 1.0416666666666667vw;
  margin-right:18%;
  margin-left:18%;
  padding: 0.5208333333333334vw;
  text-transform: uppercase;
}

.profile_picture{
  margin-top: 5.208333333333333vw;
  max-height: 65%;
  width: 90%;
  object-fit: cover;
}

.body_image{
  margin-bottom: 3vw;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

.work_image{
  margin-bottom: 3vw;
  max-width: 100%;
  width: 100%;
  object-fit: contain;
}

.center_align{
  text-align: center;
  vertical-align: middle;
}

.zoom_div {
  padding: 2.6041666666666665vw;
  transition: transform .2s;
}
.zoom_div:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05); 
}

.bottom_rect{
  background-color: #d8bfd8;
  height: 0.35vw;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  /*height: 0.5vw;*/
  /*background-image: linear-gradient(to bottom, rgba(255,255,255,1), #d8bfd8)*/;
}

.rectangle_div{
  height: 0.4vw;
  width: 5%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #CEE3F8;
}
/*#d8bfd8 for violet, #7fffd4 for aqua*/

.footer{
  margin:auto;
  text-align: center;
  margin-top: 6%;
  margin-bottom:4%;
  font-size: 0.625vw;
  font-family: 'Roboto Slab', sans-serif;
}

.skill_button{
  padding:3%;
  margin: 3%;
}

.skills_div{
  margin-top: 6%;
  border: #CEE3F8 solid 0.25vw !important;
  min-height: 15vw; 
}

.card .card-title {
  font-family: 'Muli', sans-serif;
  font-size: 2vw;
}

.card .card-text{
  margin-right: 0vw !important;
  font-family: 'Habibi', serif;
  font-size: 1vw;
}

.card{
  min-height: 33vw;
  width: 100% !important;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 6%;
  margin-bottom: 6%;
  margin-bottom: 5%;  
  padding-right: 0;
  padding-left: 0;
}

.image_padding_top{ 
  margin-top: 10%;
  margin-bottom: 5%;
}

.card {
  border: #CEE3F8 solid 0.25vw !important;
}
.card_image{
  max-width: 100%;
  width: 100%;
  object-fit: contain;
}

.width_max{
  width: 100%;
}

.padding_bottom{
  margin-bottom:5%
}

input{
  box-shadow: none;
  outline: none;
  border: 0.10416666666666667vw solid black;
}
input:focus:required:invalid {border: 0.15vw solid red;}

textarea{
  box-shadow: none;
  outline: none;
  border: 0.20833333333333334vw solid #d8bfd8;
}

textarea:focus:required:invalid {border: 0.15vw solid red;}

.img_link{
  max-width: 25%;
  max-height: 25%;
  display: block; 
  margin: 0 auto;
  object-fit: contain;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.btn_resume{
  margin-top: 2%;
  margin-bottom: 2%;
  min-width: 75%;
  border: none;
  background-color: #9370DB; 
}   
/*possibly remove*/
/*body {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/debut_light.png");
}
*/

@import url('https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap');
 * {
	 box-sizing: border-box;
}
 .nav {
	 display: inline-flex;
	 position: relative;
	 overflow: hidden;
   margin-top: 5vh;
	 max-width: 100%;
	 background-color: #fff;
	 padding: 0 20px;
	 border-radius: 40px;
	 box-shadow: 0 10px 40px rgba(159, 162, 177, .8);
}
 .nav-item {
	 color: #83818c;
	 padding: 20px;
	 text-decoration: none;
	 transition: 0.3s;
	 margin: 0 2px;
	 z-index: 1;
	 font-family: 'DM Sans', sans-serif;
	 font-weight: 500;
	 position: relative;
}
 .nav-item:before {
	 content: "";
	 position: absolute;
	 bottom: -6px;
	 left: 0;
	 width: 100%;
	 height: 5px;
	 background-color: #dfe2ea;
	 border-radius: 8px 8px 0 0;
	 opacity: 0;
	 transition: 0.3s;
}
 .nav-item:not(.is-active):hover:before {
	 opacity: 1;
	 bottom: 0;
}
 .nav-item:not(.is-active):hover {
	 color: #333;
}
 .nav-indicator {
	 position: absolute;
	 left: 0;
	 bottom: 0;
	 height: 4px;
	 transition: 0.4s;
	 height: 5px;
	 z-index: 1;
	 border-radius: 8px 8px 0 0;
}
 @media (max-width: 580px) {
	 .nav {
		 overflow: auto;
	}
 }