/* set colors*/
:root {
    --background:  	#F5F5F5;
    --box: #FFFFFF;
    --text: #000000;
  }
  
  body{
      background-color: var(--background);
  }
  .info_box  {
    min-height: 33vh;
    margin-bottom: 40px;
    margin-right:90px;
    margin-left:90px;
    padding: 10px;
    color: var(--text);
    text-transform: uppercase;
  }
  
  .box_1 {
    background-color: var(--background);
  }
  